/* color palette: https://colorhunt.co/palette/212984 */

.bck-blue {
  background: #14274e;
}

.bck-grey {
  background: #9ba4b4;
}

.signin_wrapper {
  background: rgba(52, 58, 64, 0.8);
  padding: 30px;
  border-radius: 10px;
}

.login_info_wrapper {
  background: rgba(52, 58, 64, 0.8);
  padding: 30px;
  border-radius: 10px;
  color: #fff;
  text-align: justify;
  margin-left: 10px;
}

.login_page_wrapper {
  background: url('/assets/images/delphi.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 100px;
  min-height: 100%;
  min-width: 100%;
}

.error_label {
  color: red;
}

.login_welcome_container {
  text-align: center;
  background: rgba(255, 255, 255, 0.8);
  padding-top: 10px;
  margin-bottom: 20px;
  color: #000;
  border-radius: 10px;
  border-style: solid;
  border-color: #F6F6F6;
}

.login_announcements_container {
  text-align: center;
  background: rgba(255, 255, 255, 0.8);
  padding-top: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #000;
  border-radius: 10px;
  border-style: solid;
  border-color: #F6F6F6;
}

.register_login_wrapper {
  background: #FAFAFA;
}

.icon {
  color: #fff;
  margin-right: 4px;
}
